@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Default colors. */
:root
{
	--html-color-background: #FBFBFB;
	--html-color-primary: #3F51B5;
	--html-color-secondary: #5C6BC0;
	--html-color-accent: #4FC3F7;
	--html-color-accent-darker: #03A9F4;
}

body
{
	color: rgba(0, 0, 0, 0.87);
	font-family: "Roboto", "Open Sans", Arial;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

/**
 * Material style title bar
 */
header
{
	width: 100%;
	background-color: var(--html-color-primary);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45);
}

header > h1
{
	color: rgba(255, 255, 255, 0.87);
	font-weight: bold;
	margin: 0px;
	padding: 16px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

/**
 * Style of a material card
 */
section
{
	backgroud-color: var(--html-color-background);
	width: 60vw;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 10px;
	padding: 0px;
	border-radius: 2px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

/**
 * Hyperlink
 */
A
{
	color: var(--html-color-accent);
	margin-left: 2px;
	margin-right: 2px;
	letter-spacing: 0.5px;
}

A:active
{
	color: var(--html-color-accent-darker);
}

/**
 * Article inside a card
 */
section > article
{
	padding: 24px 16px 24px 16px;
}
section > article > h1
{
	margin: 0px;
	font-size: 24px;
	font-weight: normal;
	padding: 0px 0px 12px 0px;
}

section > article > h2
{
	margin: 0px;
	font-size: 16px;
	font-weight: normal;
	padding: 0px 0px 16px 0px;
	color: rgba(0, 0, 0, 0.54);
}

section > article > p
{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

/**
 * Raised Button
 */
button
{
	transition: 200ms all;
	background-color: var(--html-color-accent);
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 14px;
	padding: 11px 16px 11px 16px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

button:hover
{
	transition: 200ms all;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

button:active
{
	background-color: var(--html-color-accent-darker);
}

/**
 * Flat Button
 */
button[flat]
{
	outline: none;
	border: none;
	color: var(--html-color-accent);
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
}

button[flat]:active
{
	background-color: rgba(0, 0, 0, 0.2);
}

/**
 * Float Action Button (FAB)
 */
button[float]
{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	width: 48px;
	height: 48px;
	line-height:48px;
	border-radius: 50%;
	font-weight: normal;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
	vertical-align: middle;
}

button[float]:hover
{
	box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.5);
}

/**
 * Dropdown Menu Button
 */
button[menu]
{
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	width: 48px;
	height: 48px;
	line-height:48px;
	border-radius: 50%;
	font-weight: normal;
	vertical-align: middle;
	box-shadow: none;
}

button[menu]:before
{
	content:"≡";
}

button[menu]:focus + menu
{
	transform: scaleY(1);
	transition: all 200ms ease-in-out;
}

button[menu]:focus + menu > li > A
{
	transform: scaleY(1);
	transition: all 200ms ease-in-out;
}

button[menu]:not(:focus) + menu
{
	transform: scaleY(0);
	transition: all 200ms ease-in-out;
}

button[menu] + menu
{
	position: absolute;
	display:table;
	table-layout: fixed; 
	margin: 0px;
	padding: 0px;
	background-color: #FDFDFD;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
	transition: all 200ms ease-in-out;
	transform-origin: 50% 0px;
}

button[menu] + menu > li
{
	list-style: none;
	padding: 10px;
}

button[menu] + menu > li > A
{
	transform: scaleY(0);
	font-size: 12px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.87);
	padding: 12px;
}

button[menu] + menu > li > A:hover
{
	background-color: rgba(0, 0, 0, 0.1);
}

button[menu] + menu > li > A:active
{
	background-color: rgba(0, 0, 0, 0.3);
}

button[menu]:active
{
	background-color: rgba(0, 0, 0, 0.3);
}

dialog
{
	margin: 0px;
	padding: 24px;
	border: 0px;
	border-radius: 3px;
	box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.3);
}

section[grid]
{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	padding: 12px;
	margin: 4px;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

div[input]
{
	position: relative;
}

div[input] > input[type="text"]
{
	outline: none;
	border: none;
	border-bottom: 2px solid grey;
	margin: 8px;
	padding: 4px;
	transition: all 200ms;
	background-color: rgba(0, 0, 0, 0);
}

div[input] > input[type="text"]:focus
{
	border-bottom: 2px solid var(--html-color-accent);
	transition: all 200ms;
}

div[input] > input[type="text"]:not(:valid) + label
{
	position: absolute;
	left: 12px;
	top: 8px;
	color: grey;
	transition: all 200ms;
	transform-origin: 0px 0px;
}

div[input] > input[type="text"]:focus + label
{
	position: absolute;
	left: 12px;
	color: var(--html-color-accent);
	transition: all 200ms;
	font-size: 60%;
	top: 0px;
}

div[input] > input[type="text"]:valid:not(:focus) + label
{
	
	position: absolute;
	left: 12px;
	color: grey;
	transition: all 200ms;
	font-size: 60%;
	top: 0px;
}
